


// app colors

.app-color--on-time {
    color: #13ce90;
  }
  .app-color-bg--on-time {
    background-color: #13ce90;
  }
  
  .app-color--delayed-less {
    color: #ffdc51;
  }
  .app-color-bg--delayed-less {
    background-color: #ffdc51;
  }
  
  .app-color--delayed-more {
    color: #f56761;
  }
  .app-color-bg--delayed-more {
    background-color: #f56761;
  }
  
  .app-color-bg--trackable {
    background-color: #13ce90;
  }
  .app-color-bg--transporter {
    background-color: #DFDFDF;
  }
  .app-color-bg--consent {
    background-color: #2680EB;
  }