.delayed-card,.quantity-card, .overview-card{
    min-height: 250px;
}
.pie-chart-main{
    min-width: 60px;

    min-height: 60px;
     max-height: 80px;
    max-width: 100px;
//     min-width: 160px;

//     min-height: 100px;
    
}
.progress{
    min-width: 160px;
    // width: 100%;
}
