@import './../v2/color/variables';



.app-hover-color--grey-dark{
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover{
        color: map-get($map: $tb-grey, $key: 900);
    }
}


.tb-theme--secondary-bg.app-hover-color-bg--grey-dark{
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover{
        background-color: map-get($map: $tb-grey, $key: 900) !important;
    }
}

.app-hover-color-bg--grey-dark{
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover{
        background-color: map-get($map: $tb-grey, $key: 900);
    }
}

// .tdtbw-hover-change-to-primary {
//     transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
//     &:hover {
//         color: white;
//         background: $tb-theme-primary;
//         h1,
//         h2,
//         h3,
//         h4,
//         h5,
//         h6,
//         p {
//             color: white;
//         }
//     }
// }

// .tb-hover-text-color-primary {
//     transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
//     color: $tb-theme-primary;
//     &:hover {
//         color: white;
//     }
// }

// .tb-hover-text-color-to-primary {
//     transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
//     &:hover {
//         color: $tb-theme-primary;
//     }
// }




// .tb-hover-button {
   
//     &-primary {
//         cursor: pointer;
//         transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
//         color: white;
//         box-shadow: 0px 4px 8px -4px rgba($color: $tb-theme-primary, $alpha: 0.7), 0px 8px 16px -6px rgba($color: $tb-theme-primary, $alpha: 0.6);
//         background-color: $tb-theme-primary;
//         &:hover {
//             box-shadow: 0px 6px 10px -4px rgba($color: $tb-theme-primary, $alpha: 0.7), 0px 10px 20px -6px rgba($color: $tb-theme-primary, $alpha: 0.6);
//         }
//         &:active {
//             box-shadow: 0px 0px 4px -4px rgba($color: $tb-theme-primary, $alpha: 0.5), 0px 2px 12px -6px rgba($color: $tb-theme-primary, $alpha: 0.3);
//         }
//     }
//     &-secondary {
//         cursor: pointer;
//         transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
//         color: white !important;
//         box-shadow: 0px 3px 6px -3px rgba($color: $tb-theme-secondary, $alpha: 0.7), 0px 6px 12px -6px rgba($color: $tb-theme-secondary, $alpha: 0.6) !important;
//         background-color: $tb-theme-secondary !important;
//         &:hover {
//             box-shadow: 0px 4px 8px -3px rgba($color: $tb-theme-secondary, $alpha: 0.7), 0px 8px 16px -4px rgba($color: $tb-theme-secondary, $alpha: 0.6) !important;
//         }
//         &:active {
//             box-shadow: 0px 6px 10px -4px rgba($color: $tb-theme-secondary, $alpha: 0.7), 0px 12px 20px -6px rgba($color: $tb-theme-secondary, $alpha: 0.6) !important;
//         }
//     }
   
// }
