.filter{
    .mat-expansion-indicator::after{
        color: rgba($color: #000000, $alpha: 0.7) !important;
    
    }
    .mat-expansion-panel-header{
        padding: 0 40px 0 0 !important;
    }

    .mat-expansion-panel:not([class*=mat-elevation-z]){
        box-shadow: unset;
    }
}


.mat-cell{
    font-size: 0.875rem;
}


