.tb-theme--primary{
    color: $tb-theme-primary !important;

}

.tb-theme--secondary{
    color: $tb-theme-secondary !important;
}


// .tb-theme--primary-dark{
//     color: $tb-theme-primary-dark !important;
// }

// .tb-theme--secondary-dark{
//     color: $tb-theme-secondary-dark !important;

// }

.tb-theme--primary-bg{
    background-color: $tb-theme-primary !important;
}


.tb-theme--secondary-bg{
    background-color: $tb-theme-secondary !important;
}



.tb-theme--primary-dark-bg{
    background-color: $tb-theme-primary-dark !important;
}


.tb-theme--secondary-dark-bg{
    background-color: $tb-theme-secondary-dark !important;

}
