.report-pink {
    background-color: #ef2f68;
}

.report-orange {
    background-color: #f77335;
}

.report-red {
    background-color: #e83737;
}

.report-skin {
    background-color: #f5c3b0;
}

.report-amber {
    background-color: #e28c3c;
}

.report-light-amber {
    background-color: #fabe4e;
}

.report-yellow {
    background-color: #f8f120;
}

.report-light-clay {
    background-color: #dbd3a6;
}

.report-indigo {
    background-color: #2a49c7;
}

.report-cyan {
    background-color: #0ed6ed;
}

.report-blue {
    background-color: #2875ea;
}

.report-light-green {
    background-color: #b4ff97;
}

.report-green {
    background-color: #42BD77;
}

.report-light-purple {
    background-color: #d56ad6;
}

.report-green-grey {
    background-color: #405e4b;
}

.report-blue-grey {
    background-color: #4f5568;
}

.report-violet {
    background-color: #8e32a5;
}

/*
*

*/
