.app-priamry-tab {
    .tb-button-toggle-checked {
        text-align: center;
        color: white;
        background-color: $tb-theme-primary;
    }
}

.app-toggle-area{
    .tb-button-toggle-checked{
        color: $tb-theme-primary;

    }
}