svg line,
svg polyline {
  fill: none;
}
.line1 {
  stroke: #757575;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 1, 50;
  stroke-dashoffset: 30;
}

.line2 {
    stroke: #ccc;
    stroke-width: 4;
    // stroke-dasharray: 1, 20;
    // stroke-dashoffset: 3;
  }

  .bubbles{
    top: 0;
    left: 50%;
    position: absolute;
  }