<div class="tb-height--full tb-position--relative">
  <svg x="0px" y="0px" width="10px" height="100" viewBox="0 0 1 395.9">
    <line class="line2" x1="0.5" y1="0" x2="0.5" y2="395.9" />
    <line class="line1" x1="0.5" y1="0" x2="0.5" y2="395.9" />
  </svg>
<div class="bubbles tb-height--full">
  <tb-bubble [min]="21" [max]="54" [value]="34" [style.top.%]="40"></tb-bubble>
  <tb-bubble  [max]="54" [min]="21" [value]="34"></tb-bubble>
  <tb-bubble></tb-bubble>
  <tb-bubble [style.top.%]="100"></tb-bubble>

</div>

</div>