<div class="tb-width--full" fxLayout="row" fxLayoutAlign="space-around center">

    <div class="tb-flex--align-items" fxLayout="row" >
      <div class="trip-load tb-icon--40">
        <img class="tb-avatar tb-color--bg-black" src="assets/svg/truck.svg">
      </div>
      <div fxLayout="row" fxLayoutAlign="end end">
        <p class="tb-typo--h3 tb-padding--h-8 tb-color--black-75 tb-font-weight--normal">102</p>
        <sup class="tb-typo--body1 tb-color--black-54 tb-font-weight--medium">Vehicles</sup>
      </div>
    </div>
   
    <div class="tb-flex--align-items" fxLayout="row">
      <div class="trip-load tb-icon--30">
        <img class="tb-avatar tb-color--bg-black" src="assets/svg/lory_black.svg">
      </div>
      <div fxLayout="row" fxLayoutAlign="end end">
        <p class="tb-typo--h3 tb-padding--h-8 tb-color--black-75 tb-font-weight--normal">5402</p>
        <sup class="tb-typo--body1 tb-color--black-54 tb-font-weight--medium">tons</sup>
      </div>
    </div>
  
  
    <div class="tb-flex--align-items" fxLayout="row">
      <div class="trip-load tb-icon--30">
        <img class="tb-avatar tb-color--bg-black" src="assets/svg/speedometer_black.svg">
      </div>
      <div fxLayout="row" fxLayoutAlign="end end">
        <p class="tb-typo--h3 tb-padding--h-8 tb-color--black-75 tb-font-weight--normal">102</p>
        <sup class="tb-typo--body1 tb-color--black-54 tb-font-weight--medium">overspeed</sup>
      </div>
    </div>
  
  </div>