:host {
  position: relative;
}

* {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tab {
  min-width: 90px;
  height: 24px;
}

.mat-button {
  line-height: 18px !important;
  border-radius: 34px !important;
  border: 1px solid rgb(151, 151, 151);
}

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

@media screen and (max-width: $resXXS) {
  .tab {
    min-width: 80px;
    text-transform: none;
  }
}
