<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">

  <!-- left card -->
  <!-- <div class="summary-card tb-card--thin tb-color-bg--white tb-border--r4 tb-width--full tb-padding--24"
    fxLayout="column" fxFlex="50">
    <div fxLayout="row">

      <div tb-select-group (selectionChange)="onSelectionGroupChange($event)" class="report-tabs" fxLayout="row wrap"
        fxLayoutGap="8px">
        <button mat-button tb-select-item selectedClass="tb-card--thin tb-color--white tb-color-bg--black-75"
          class="tab tb-typo--body1 tb-color--black-75" [value]="1" [checked]="true">
          Trackable
        </button>
        <button mat-button tb-select-item selectedClass="tb-card--thin tb-color--white tb-color-bg--black-75"
          class="tab tb-typo--body1 tb-color--black-75" [value]="2">
          Concent
        </button>
      </div>
      <div fxFlex></div>
      <app-filter-days></app-filter-days>
    </div>


    <div fxLayout="row" fxLayout.xs="column">
      <div fxLayout="column" fxFlex.gt-xs="50">
        <div class="tb-position--relative" fxFlex>
          <app-chart-doughnut class="pie-chart-main tb-position--relative" [model]="_mLeftChart" [isLabelHidden]="true">
          </app-chart-doughnut>
          <span class="overlayed-label tb-position--absolute">
            {{_mLeftOverview.percent}}%
          </span>
        </div>
        <div class="tb-padding--12"></div>
        <ng-container *ngIf="_mLeftIsTrackable">
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center center">
            <widget-legend-item backgroundClass="app-color-bg--trackable" legendField="Trackable"></widget-legend-item>
            <widget-legend-item backgroundClass="app-color-bg--transporter" legendField="Un-Trackable">
            </widget-legend-item>
          </div>
        </ng-container>

        <ng-container *ngIf="!_mLeftIsTrackable">
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center center">
            <widget-legend-item backgroundClass="app-color-bg--trackable" legendField="Concent Allowed">
            </widget-legend-item>
            <widget-legend-item backgroundClass="app-color-bg--transporter" legendField="Concent not Allowed">
            </widget-legend-item>
          </div>
        </ng-container>
      </div>


      <div class="tb-margin--v-16 tb-width--full" fxLayout="column" fxFlex.gt-xs="50">
        <p class="tb-typo--h6 tb-color--grey-600 tb-padding--v-4">Most Frequent</p>
        <div class="tb-flex--align-items tb-padding--top-10" fxLayout="row">
          <p class="tb-typo--body2 tb-color--grey-800">Lane :</p>
          <p class="tb-typo--body1 tb-color--grey-800 tb-padding--h-8">
            {{_mLeftOverview.lane.name}}</p>
        </div>
        <div class="tb-flex--align-items" fxLayout="row">
          <widget-progress fxFlex progressClass="widget-progress-green" class="progress"
            [progress]="_mLeftOverview.lane.countPercent"></widget-progress>
          <p class="tb-typo--h5 tb-width--40 tb-text--align-right tb-color--grey-800 tb-font-weight--bold">
            {{_mLeftOverview.lane.count}}</p>
        </div>

        <div class="tb-flex--align-items tb-padding--top-10" fxLayout="row">
          <p class="tb-typo--body2 tb-color--grey-800">Customer :</p>
          <p class="tb-typo--body1 tb-color--grey-800 tb-padding--h-8">
            {{_mLeftOverview.customer.name}}</p>
        </div>
        <div class="tb-flex--align-items" fxLayout="row">
          <widget-progress fxFlex progressClass="widget-progress-green" class="progress"
            [progress]="_mLeftOverview.customer.countPercent"></widget-progress>
          <p class="tb-typo--h5 tb-width--40 tb-text--align-right tb-color--grey-800 tb-font-weight--bold">
            {{_mLeftOverview.customer.count}}</p>
        </div>
        <div class="tb-flex--align-items tb-padding--top-10" fxLayout="row">
          <p class="tb-typo--body2 tb-color--grey-800">Vendor :</p>
          <p class="tb-typo--body1 tb-color--grey-800 tb-padding--h-8">
            {{_mLeftOverview.vendor.name}}</p>
        </div>
        <div class="tb-flex--align-items" fxLayout="row">
          <widget-progress fxFlex progressClass="widget-progress-green" class="progress"
            [progress]="_mLeftOverview.vendor.countPercent"></widget-progress>
          <p class="tb-typo--h5 tb-width--40 tb-text--align-right tb-color--grey-800 tb-font-weight--bold">
            {{_mLeftOverview.vendor.count}}</p>
        </div>
      </div>
    </div>
  </div> -->

  <app-summery-tracked class="tb-width--full" fxFlex></app-summery-tracked>
  <div class="tb-padding--12"></div>

  <!-- <div fxFlex></div> -->
  <!-- right card -->
  <div class="summary-card tb-card--thin tb-color-bg--white tb-border--r4 tb-width--full tb-padding--24"
    fxLayout="column" fxFlex>
    <div fxLayout="row">
      <p class="tb-typo--h5 tb-color--black-75 tb-font-weight--bold">Proof of Delivery ( beta ) </p>
      <div fxFlex></div>
      <app-filter-days></app-filter-days>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
      <div fxLayout="column" fxFlex.gt-xs="50">
        <app-chart-doughnut fxFlex class="pie-chart-main tb-position--relative" [model]="_mRightChart"
          [isLabelHidden]="true">
        </app-chart-doughnut>
        
        <!-- <app-chart-consent-allowed></app-chart-consent-allowed> -->
        <div class="tb-padding--12"></div>

        <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center center">
          <widget-legend-item backgroundClass="app-color-bg--transporter" legendField="Available"></widget-legend-item>
          <widget-legend-item backgroundClass="app-color-bg--delayed-more" legendField="Not Availale">
          </widget-legend-item>
        </div>
      </div>

      <!-- overview -->
      <div class="tb-margin--v-16 tb-width--full" fxLayout="column" fxFlex.gt-xs="50">
        <div fxLayout="row">
            <div tb-select-group (selectionChange)="onSelectionSourceAndDestBut($event)" class="report-tabs" fxLayout="row wrap" fxLayoutGap="8px">
              <button mat-button tb-select-item selectedClass="tb-card--thin tb-color--white tb-color-bg--black-75" class="tab tb-typo--body1 tb-color--black-75" [value]="1" [checked]="true">
                Source </button>
                <button mat-button tb-select-item selectedClass="tb-card--thin tb-color--white tb-color-bg--black-75" class="tab tb-typo--body1 tb-color--black-75" [value]="2">
                    Destination
                </button>
              </div>
          </div>
        <p class="tb-typo--h6 tb-color--grey-600 tb-padding--v-4">Top Frequent</p>
        <div class="tb-flex--align-items tb-padding--top-10" fxLayout="row">
          <p class="tb-typo--body2 tb-color--grey-800">{{_prograssTitle}} :</p>
          <p class="tb-typo--body1 tb-color--grey-800 tb-padding--h-8">
            {{mConcentOverview.lane.name}}</p>
        </div>
        <div class="tb-flex--align-items" fxLayout="row">
          <widget-progress fxFlex progressClass="widget-progress-red" class="progress"
            [progress]="mConcentOverview.lane.countPercent"></widget-progress>
          <p class="tb-typo--h5 tb-width--40 tb-text--align-right tb-color--grey-800 tb-font-weight--bold">
            {{mConcentOverview.lane.count}}</p>
        </div>

        <div class="tb-flex--align-items tb-padding--top-10" fxLayout="row">
          <p class="tb-typo--body2 tb-color--grey-800">{{_prograssTitle}} :</p>
          <p class="tb-typo--body1 tb-color--grey-800 tb-padding--h-8">
            {{mConcentOverview.customer.name}}</p>
        </div>
        <div class="tb-flex--align-items" fxLayout="row">
          <widget-progress fxFlex progressClass="widget-progress-red" class="progress"
            [progress]="mConcentOverview.customer.countPercent"></widget-progress>
          <p class="tb-typo--h5 tb-width--40 tb-text--align-right tb-color--grey-800 tb-font-weight--bold">
            {{mConcentOverview.customer.count}}</p>
        </div>
        <div class="tb-flex--align-items tb-padding--top-10" fxLayout="row">
          <p class="tb-typo--body2 tb-color--grey-800">{{_prograssTitle}} :</p>
          <p class="tb-typo--body1 tb-color--grey-800 tb-padding--h-8">
            {{mConcentOverview.vendor.name}}</p>
        </div>
        <div class="tb-flex--align-items" fxLayout="row">
          <widget-progress fxFlex progressClass="widget-progress-red" class="progress"
            [progress]="mConcentOverview.vendor.countPercent"></widget-progress>
          <p class="tb-typo--h5 tb-width--40 tb-text--align-right tb-color--grey-800 tb-font-weight--bold">
            {{mConcentOverview.vendor.count}}</p>
        </div>
      </div>
    </div>

    <!-- <div fxFlex fxLayoutAlign="center center" fxLayout="column">
        
    </div> -->
  </div>
</div>