<div class="footer tb-card--footer-shadow " fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div class="tb-padding--36 tb-theme-bg--primary " fxLayout="column" fxLayoutAlign="start start" fxFlex="70">

        <div class="tb-width--full" fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div class="tb-margin--v-16" fxLayout="column">
                <mat-icon class="tb-icon--14 tb-color--white">business</mat-icon>
                <a class="tb-typo--h3 tb-color--white tb-padding--v-8 tb-font-weight--light">Address </a>
                <p class="tb-typo--h5 tb-color--white-75 tb-padding--v-4">No. A 4, 2nd Floor
                    K.H.B Colony,</p>
                <p class="tb-typo--h5 tb-color--white-75 tb-padding--v-4">Koramangala 5th
                    Block,</p>
                <p class="tb-typo--h5 tb-color--white-75 tb-padding--v-4">
                    Bengaluru, Karnataka 560095.</p>
            </div>
            <div class="tb-margin--v-16" fxLayout="column">
                <mat-icon class="tb-icon--14 tb-color--white">email</mat-icon>

                <a class="tb-typo--h3 tb-color--white tb-padding--v-8 tb-font-weight--light">Email </a>
                <a class="tb-typo--h5 tb-color--white-75 tb-padding--v-2  tb-cursor--pointer">reachus@intugine.com</a>
            </div>

            <div class="tb-margin--v-16" fxLayout="column">
                <mat-icon class="tb-icon--14 tb-color--white">Website</mat-icon>

                <a class="tb-typo--h3 tb-color--white tb-padding--v-8 tb-font-weight--light">Website </a>
                <a class="tb-typo--h5 tb-color--white-75 tb-padding--v-2  tb-cursor--pointer">www.intugine.com</a>
            </div>
            <div class="tb-margin--v-16" fxLayout="column">
                <mat-icon class="tb-icon--14 tb-color--white">phone</mat-icon>

                <a class="tb-typo--h3 tb-color--white tb-padding--v-8 tb-font-weight--light">Contact</a>
                <a class="tb-typo--h5 tb-color--white-75 tb-padding--v-4  tb-cursor--pointer">099-866-3220</a>
                <a class="tb-typo--h5 tb-color--white-75 tb-padding--v-4  tb-cursor--pointer">080-424-9811</a>
            </div>

        </div>
        <div fxFlex></div>
        <div class="tb-flex--align-items tb-margin--top-24" fxLayout="row">
            <div class="logo_area tb-square--40">
                <img class="tb-avatar" src="assets/img/logo.png" alt="">
            </div>
            <p class="tb-typo--h3 tb-color--white">Intugine</p>
        </div>
    </div>
    <div class="map tb-card--thin" fxFlex="30">
        <app-map-view fxFlex></app-map-view>

    </div>

</div>